#tiny_paper
  #top.pages_list
    %ul.clearfix
      %li= link_to t('tiny_mce.links.files'), files_path
      %li= link_to t('tiny_mce.links.pages'), pages_path, :class => "selected"
    %p= t('tiny_mce.choose_page')
  #hd
    #content_files
      #assets
        %ul
          = page_list (@homepage)
  = hidden_field_tag(:type, 'pages')